<html>
<head>
<meta charset="UTF-8">
<title>plugin</title>
<link rel="stylesheet" href="/plugins/<%=name%>/css" />
</head>
<body>
	<div id="main"></div>
<script src="/plugins/<%=name%>/js"></script>
<script>
</script>
</body>
</html>
